@model IEnumerable<BangbooMVC.Models.BangbooSupplyDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Bangboo-Supply Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplyAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bangboo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BangbooSupplier.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bangboo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BangbooSupplier.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Detail }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Detail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Detail })
        </td>
    </tr>
}

</table>
